* {
  box-sizing: border-box;
}
.required {
  text-align: left;
  margin-left: 1em;
  font-size: 0.8em;
}
body {
  color: gray;
}
/*#title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
*/
input:invalid {
  border: 1px solid red;
}

form {
  max-width: 900px;
  border: 1px solid #ccc;
  width: 75%;
  margin: auto;
  background-color: #444;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 2em;
  padding: 2.5em 0;
  border-radius: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  text-align: center;
  color: #ccc;
}
#description {
  text-align: center;
  font-size: 1.5em;
  color: #ccc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 1.5em 0;
  text-shadow: 2px 2px 4px #000000;
}
#title {
  text-align: center;
  font-size: 1.5em !important;
  color: #2a2a2a;
  margin-bottom: 3em;
  margin-top: 3em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.row {
  padding-bottom: 2em;
}
.rightTab {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  width: 48%;
  margin-left: 0.5em;
}
.leftTab {
  text-align: right;
  display: inline-block;
  vertical-align: top;
  width: 40%;
}
.checkbox {
  position: relative;
}

textarea {
  padding: 5px 5px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #999;
  margin-top: 8px;
}

button {
  width: 20%;
  margin: 2em auto;
  font-size: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  border: 2px solid lightblue;
  padding: 0.2em;
}

button:hover {
  cursor: pointer;
  color: #444;
}
.input_field,
select {
  height: 2em;
  width: 20em;
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 0.8em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.checkbox,
.radio {
  margin: 1em;
}

/*Media Queries*/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .rightTab {
    float: left;
    width: 100%;
    text-align: left;
  }
  .leftTab {
    width: 100%;
    text-align: left;
    margin-left: 1em;
  }
  .input_field {
    margin: 1.5em;
    width: 75%;
  }
  label {
    text-align: center;
  }
  select {
    margin: 1.5em;
    width: 75%;
    font-size: 1em;
    height: 2em;
    padding: 0;
  }
  textarea {
    width: 80%;
    margin-left: 1.5em;
  }
  button {
    width: 50%;
  }
  form {
    font-size: 0.7em;
  }
  .checkbox,
  .radio {
    margin-left: 1.5em;
  }
  body {
    margin: 0 auto;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .rightTab {
    float: left;
    width: 100%;
    text-align: left;
  }
  .leftTab {
    width: 100%;
    text-align: left;
    margin-left: 1em;
  }
  .input_field {
    margin: 1.5em;
    width: 70%;
  }
  select {
    margin: 1.5em;
    width: 70%;
    font-size: 1em;
    height: 2em;
    padding: 0;
  }
  textarea {
    width: 70%;
    margin: 1.5em 5em;
  }
  button {
    width: 30%;
  }
  form {
    font-size: 0.9em;
  }
  .checkbox,
  .radio {
    margin-left: 1.5em;
  }
  body {
    margin: 0 auto;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .input_field,
  select {
    width: 75%;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
